@import compass
@import compass/reset

$default-font: Arial, Helvetica, sans-serif


#header
  background: url( "/img/header-center-bg.png" ) no-repeat
  height: 47px
  margin: 0 auto
  width: 920px

.nav-item
  float: left
  height: 47px
  margin: 0 10px 0 30px

#nav-item-logo
  margin: 0
  width: 170px

#nav-logo
  +clearfix
  +hide-text
  background: url( "/img/logo.png" ) no-repeat
  display: block
  height: 43px
  margin: auto
  width: 150px

.nav-item-text
  color: #777777
  display: block
  font-family: $default-font
  font-size: 12px
  text-decoration: none
  padding: 18px 0 0

.nav-item-text:hover
  color: #bfc1b0

#nav-item-search
  float: right
  margin: 10px 0

#search
  +hide-text
  background: url( "/img/bg-search.png" ) no-repeat
  border: none
  height: 27px
  width: 210px

#body
  margin: 0 auto
  width: 920px



