---
title: Actme
---

<div id="wrap-header">
  <div id="header">
    <ul id="nav">
      <li id="nav-item-logo" class="nav-item">
        <a id="nav-logo" href="#" title="logo">
          <h1>Actme</h1>
        </a>
      </li>
      <li class="nav-item">
        <a id="nav-home" class="nav-item-text" href="#" title="home">Home</a>
      </li>
      <li class="nav-item">
        <a id="nav-protfolio" class="nav-item-text" href="#" title="protfolio">Protfolio</a>
      </li>
      <li class="nav-item">
        <a id="nav-gallery" class="nav-item-text" href="#" title="gallery">Gallery</a>
      </li>
      <li class="nav-item">
        <a id="nav-blog" class="nav-item-text" href="#" title="blog">Blog</a>
      </li>
      <li class="nav-item">
        <a id="nav-styles" class="nav-item-text" href="#" title="styles">Styles</a>
      </li>
      <li class="nav-item">
        <a id="nav-contact" class="nav-item-text" href="#" title="contact">Contact</a>
      </li>
      <li id="nav-item-search" class="nav-item">
        <form action="#">
          <input id="search" type="text" title="To search type and hit enter" />
        </form>
      </li>
    </ul>
  </div>
</div>
<div id="body">
  <div id="slider">
    <h2 id="slider-title">Slider Options for every slider / template</h2>
    <h3 id="slider-subtitle">Slider Options, 2 effects, time and hover pause</h3>
    <div id="slider-controller">
      <div id="slider-left"></div>
      <div id="slider-right"></div>
      <div id="slider-draging">
        <div id="slider-pin"></div>
      </div>
    </div>
  </div>
  <div id="personal">
    <div id="personal-name">My name is Jonathan Sense.<br>Below is a collection of some of my best pics.</div>
    <div id="personal-link-gallery">
      <a id="link-personal-gallery" href="#" title="Check out my Gallery">Check out my Gallery</a>
    </div>
    <div id="personal-social-netsorks">
      <a id="link-social-network" href="#" title="facebook">facebook</a>
      <a id="link-social-network" href="#" title="twitter">twitter</a>
      <a id="link-social-network" href="#" title="dribbble">dribbble</a>
      <a id="link-social-network" href="#" title="flickr">flickr</a>
      <a id="link-social-network" href="#" title="deviantart">deviantart</a>
      <a id="link-social-network" href="#" title="behance">behance</a>
      <a id="link-social-network" href="#" title="vimeo">vimeo</a>
      <a id="link-social-network" href="#" title="xing">xing</a>
    </div>
  </div>
  <div id="tweets">
    <div class="tweet">Check out this item 'Sense - Semi-liquid Premium Wordpress Theme for Creative \ Protfolio or Blog Magazine by IulianN.' <a href="http://t.co/tp8gZeS" title="http://t.co/tp8gZeS">http://t.co/tp8gZeS</a><span class="tweet-datetime">15 days ago</span></div>
    <div class="tweet">Check out this great WordPress Premium Theme 'Bestia - Creative Portfolio and Blog WP Theme' by IulianN. <a href="http://t.co/AKjl6Sk" title="http://t.co/AKjl6Sk">http://t.co/AKjl6Sk</a><span class="tweet-datetime">15 days ago</span></div>
  </div>
  <div id="blogs">
    <div class="blog-entry">
      <div class="blog-entry-title">
          <a href="#" title="This is a nice post for o ..">This is a nice post for o ..</a>
      </div>
      <div class="blog-entry-preview">Lorem ipsum dolor sit amet, consecteuter adipiscing elit.<br>Aenean ligula eget ...</div>
    </div>
    <div class="blog-entry">
      <div class="blog-entry-title">
        <a href="#" title="I diligently worked to pe ..">I diligently worked to pe ..</a>
      </div>
      <div class="blog-entry-preview">Buck's first day on the Deya beach was like a nightmare. Every hour was ...</div>
    </div>
    <div class="blog-entry">
      <div class="blog-entry-title">
          <a href="#" title="Great choice for you">Great choice for you</a>
      </div>
      <div class="blog-entry-preview">It led, briefly, in the course of the October afternoon, to his closer meeting ...</div>
    </div>
    <div class="blog-entry">
      <div class="blog-entry-title">
          <a href="#" title="Get a littel help about D..">Get a littel help about D..</a>
      </div>
      <div class="blog-entry-preview">What determined the speech that startled him in the course of their encounter ...</div>
    </div>
    <div class="blog-entry">
      <div class="blog-entry-title">
          <a href="#" title="Something To Be Done ..">Something To Be Done ..</a>
      </div>
      <div class="blog-entry-preview">He was a very sick white man. He rode pick-a-back on a woolly-headed, ...</div>
    </div>
    <div class="blog-entry">
      <div class="blog-entry-title">
          <a href="#" title="Great pic and great reali ..">Great pic and great reali ..</a>
      </div>
      <div class="blog-entry-preview">Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>Vivamus sagittis ...</div>
    </div>
    <div class="blog-entry">
      <div class="blog-entry-title">
          <a href="#" title="Realistic imagery can tra ..">Realistic imagery can tra ..</a>
      </div>
      <div class="blog-entry-preview">Vestibulum eget porttitor ante.<br>Donec consectetur odio in ligula bibendum ...</div>
    </div>
  </div>
  <div id="page-index">
      <ul id="pages-nav">
        <li class="link-page-1">
          <a class="link-page-1" href="#" title"Goto page 1">1</a>
        </li>
        <li class="link-page-2">
          <a class="link-page-2" href="#" title"Goto page 2">2</a>
        </li>
        <li class="link-next-page">
          <a class="link-next-page" href="#" title"Goto next page">2</a>
        </li>
      </ul>
      <div id="page-number">Page 1 of 2</div>
  </div>
</div>
<div id="footer">
  <div id="wrap">
    <div id="related-links">
      <a id="link-rss" href="#" title="Subscribe us!">Scribe our RSS feed</a>
      <a id="link-facebook" href="#" title="Facebook">Check out our faceback fans page</a>
      <a id="link-twitter" href="#" title="Twitter">Follow us on Twitter!</a>
      <p id="copy-rights">Copyright 2011</p>
      <a id="link-home" href="#" class="links-site-content" title="Home">Home</a>
      <a id="link-blog" href="#" class="links-site-content" title="Blog">Blog</a>
      <a id="link-404" href="#" class="links-site-content" title="404">404</a>
      <a id="link-sitemap" href="#" class="links-site-content" title="Sitemap">Sitemap</a>
      <a id="link-contact" href="#" class="links-site-content" title="Contact">Contact</a>
      <a id="link-theme-designer" title="Themes designed by lulianN">Wordpress Theme by lulianN</a>
    </div>
  </div>
</div>
