---
title: Actme
---

<div id="wrap-header">
  <div id="header-left-bg"></div>
  <div id="header">
    <ul id="nav">
      <li id="nav-item-logo" class="nav-item">
        <h1>
          <a id="nav-logo" href="#" title="logo">Actme</a>
        </h1>
      </li>
      <li class="nav-item">
        <a id="nav-home" class="nav-item-link" href="#" title="home">Home</a>
      </li>
      <li class="nav-item">
        <a id="nav-protfolio" class="nav-item-link" href="#" title="protfolio">Protfolio</a>
      </li>
      <li class="nav-item">
        <a id="nav-gallery" class="nav-item-link" href="#" title="gallery">Gallery</a>
      </li>
      <li class="nav-item">
        <a id="nav-blog" class="nav-item-link" href="#" title="blog">Blog</a>
      </li>
      <li class="nav-item">
        <a id="nav-styles" class="nav-item-link" href="#" title="styles">Styles</a>
      </li>
      <li class="nav-item">
        <a id="nav-contact" class="nav-item-link" href="#" title="contact">Contact</a>
      </li>
      <li id="nav-item-search" class="">
        <form id="form-search" action="#">
          <input id="search" type="text" placeholder="To search type and hit enter" />
        </form>
      </li>
    </ul>
  </div>
  <div id="header-right-bg"></div>
</div>
<div id="main">
  <div id="slider">
    <h2 id="slider-title">
      <a href="#" id="slider-title-link" title="Slider options">
      Slider Options for every slider / template</a>
    </h2>
    <h3 id="slider-subtitle">
      <a href="#" id="slider-subtitle-link" title="Slider options, 2 effects, time and hover pause">Slider Options, 2 effects, time and hover pause</a>
    </h3>
    <div id="slider-controller">
      <a id="slider-prev" href="#" title="Previous">Previous</a>
      <a id="slider-next" href="#" title="Next">Next</a>
      <div id="slider-draging">
        <a id="slider-pin" href="#" title="Move">Move To</a>
      </div>
    </div>
  </div>
  <div id="personal">
    <h4 id="personal-title">PERSONAL</h4>
    <img id="person-photo" src="/img/alina.jpeg" alt="Jonathan Sense">
    <div id="personal-detail">
      <div id="personal-info">
        <div id="personal-name-container">
          <div id="personal-name">My name is Jonathan Sense.<br>Below is a collection of some of my best pics.</div>
        </div>
        <div id="personal-link-gallery">
          <a id="link-personal-gallery" href="#" title="Check out my Gallery">Check out my Gallery</a>
        </div>
        <div id="personal-social-networks-container">
          <div id="personal-social-networks">
            <div class="personal-social-network">
              <a id="link-social-network-facebook" class="link-social-network" href="#" title="facebook">facebook</a>
            </div>
            <div class="personal-social-network">
              <a id="link-social-network-twitter" class="link-social-network" href="#" title="twitter">twitter</a>
            </div>
            <div class="personal-social-network">
              <a id="link-social-network-dribbble" class="link-social-network" href="#" title="dribbble">dribbble</a>
            </div>
            <div class="personal-social-network">
              <a id="link-social-network-flickr" class="link-social-network" href="#" title="flickr">flickr</a>
            </div>
            <div class="personal-social-network">
              <a id="link-social-network-deviantart" class="link-social-network" href="#" title="deviantart">deviantart</a>
            </div>
            <div class="personal-social-network">
              <a id="link-social-network-behance" class="link-social-network" href="#" title="behance">behance</a>
            </div>
            <div class="personal-social-network">
              <a id="link-social-network-vimeo" class="link-social-network" href="#" title="vimeo">vimeo</a>
            </div>
            <div class="personal-social-network">
              <a id="link-social-network-xing" class="link-social-network" href="#" title="xing">xing</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="tweets">
    <h4 id="tweets-title">TWEETS</h4>
    <div id="tweets-list">
      <div class="tweet">Check out this item 'Sense - Semi-liquid Premium Wordpress Theme for Creative \ Protfolio or Blog Magazine by IulianN.' <a class="link-on-tweets" href="http://t.co/tp8gZeS" title="http://t.co/tp8gZeS">http://t.co/tp8gZeS</a><span class="tweet-datetime">15 days ago</span></div>
      <div class="tweet">Check out this great WordPress Premium Theme 'Bestia - Creative Portfolio and Blog WP Theme' by IulianN. <a class="link-on-tweets" href="http://t.co/AKjl6Sk" title="http://t.co/AKjl6Sk">http://t.co/AKjl6Sk</a><span class="tweet-datetime">15 days ago</span></div>
      </div>
    </div>
    <div id="tweets-footer"></div>
  <div id="blogs">
    <h4 id="blogs-title">BLOG</h4>
    <div id="blog-entry-list">
      <div id="blog-entry-1" class="blog-entry">
        <div class="blog-entry-clip">
          <a href="#" class="link-blog-entry-clip" title="This is a nice post for o ..">
            <img src="/img/this-is-a-nice-post-for-our-cool-blog.jpeg" alt="Blog entry clip" class="blog-entry-clip-img">
          </a>
        </div>
        <div class="blog-entry-title">
          <a class="link-blog-entry" href="#" title="This is a nice post for o ..">This is a nice post for o ..</a>
        </div>
        <div class="blog-entry-preview">Lorem ipsum dolor sit amet, consecteuter adipiscing elit.<br>Aenean ligula eget ...</div>
        <div class="blog-entry-footer"></div>
      </div>
      <div id="blog-entry-2" class="blog-entry">
        <div class="blog-entry-clip">
          <a href="#" class="link-blog-entry-clip" title="I diligently worked to pe ..">
            <img src="/img/2.jpeg" alt="Blog entry clip" class="blog-entry-clip-img">
          </a>
        </div>
        <div class="blog-entry-title">
          <a class="link-blog-entry" href="#" title="I diligently worked to pe ..">I diligently worked to pe ..</a>
        </div>
        <div class="blog-entry-preview">Buck's first day on the Deya beach was like a nightmare. Every hour was ...</div>
        <div class="blog-entry-footer"></div>
      </div>
      <div id="blog-entry-3" class="blog-entry">
        <div class="blog-entry-clip">
          <a href="#" class="link-blog-entry-clip" title="Great choice for you">
            <img src="/img/3.jpeg" alt="Blog entry clip" class="blog-entry-clip-img">
          </a>
        </div>
        <div class="blog-entry-title">
          <a class="link-blog-entry" href="#" title="Great choice for you">Great choice for you</a>
        </div>
        <div class="blog-entry-preview">It led, briefly, in the course of the October afternoon, to his closer meeting ...</div>
        <div class="blog-entry-footer"></div>
      </div>
      <div id="blog-entry-4" class="blog-entry">
        <div class="blog-entry-clip">
          <a href="#" class="link-blog-entry-clip" title="Beautiful things in life, ..">
            <img src="/img/4-1.jpeg" alt="Blog entry clip" class="blog-entry-clip-img">
          </a>
        </div>
        <div class="blog-entry-title">
          <a class="link-blog-entry" href="#" title="Beautiful things in life, ..">Beautiful things in life, ..</a>
        </div>
        <div class="blog-entry-preview">It led, briefly, in the course of the October afternoon, to his closer meeting ...</div>
        <div class="blog-entry-footer"></div>
      </div>
      <div id="blog-entry-5" class="blog-entry">
        <div class="blog-entry-clip">
          <a href="#" class="link-blog-entry-clip" title="Get a littel help about D..">
            <img src="/img/5.jpeg" alt="Blog entry list" class="blog-entry-clip-img">
          </a>
        </div>
        <div class="blog-entry-title">
          <a class="link-blog-entry" href="#" title="Get a littel help about D..">Get a littel help about D..</a>
        </div>
        <div class="blog-entry-preview">What determined the speech that startled him in the course of their encounter ...</div>
        <div class="blog-entry-footer"></div>
      </div>
      <div id="blog-entry-6" class="blog-entry">
        <div class="blog-entry-clip">
          <a href="#" class="link-blog-entry-clip" title="Something To Be Done ..">
            <img src="/img/6.jpeg" alt="Blog entry clip" class="blog-entry-clip-img">
          </a>
        </div>
        <div class="blog-entry-title">
          <a class="link-blog-entry" href="#" title="Something To Be Done ..">Something To Be Done ..</a>
        </div>
        <div class="blog-entry-preview">He was a very sick white man. He rode pick-a-back on a woolly-headed, ...</div>
        <div class="blog-entry-footer"></div>
      </div>
      <div id="blog-entry-7" class="blog-entry">
        <div class="blog-entry-clip">
          <a href="#" class="link-blog-entry-clip" title="Great pic and great reali ..">
            <img src="/img/7.jpeg" alt="Blog entry clip" class="blog-entry-clip-img">
          </a>
        </div>
        <div class="blog-entry-title">
          <a class="link-blog-entry" href="#" title="Great pic and great reali ..">Great pic and great reali ..</a>
        </div>
        <div class="blog-entry-preview">Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>Vivamus sagittis ...</div>
        <div class="blog-entry-footer"></div>
      </div>
      <div id="blog-entry-8" class="blog-entry">
        <div class="blog-entry-clip">
          <a href="#" class="link-blog-entry-clip" title="Realistic imagery can tra ..">
            <img src="/img/8.jpeg" alt="Blog entry clip" class="blog-entry-clip-img">
          </a>
        </div>
        <div class="blog-entry-title">
          <a class="link-blog-entry" href="#" title="Realistic imagery can tra ..">Realistic imagery can tra ..</a>
        </div>
        <div class="blog-entry-preview">Vestibulum eget porttitor ante.<br>Donec consectetur odio in ligula bibendum ...</div>
        <div class="blog-entry-footer"></div>
      </div>
    </div>
  </div>
  <div id="page-index">
      <div id="page-index-nav">
        <ul id="pages-nav">
          <li id="page-1" class="page-nav-item">
            <a id="link-page-1" class="link-page" href="#" title"Goto page 1">1</a>
          </li>
          <li id="page-2" class="page-nav-item">
            <a id="link-page-2" class="link-page" href="#" title"Goto page 2">2</a>
          </li>
          <li id="next-page" class="page-nav-item">
            <a id="link-next-page" class="link-page" href="#" title"Goto next page">»</a>
          </li>
        </ul>
        <div id="page-number">Page 1 of 2</div>
      </div>
      <div id="page-index-footer"></div>
  </div>
</div>
<div id="footer">
  <div id="wrap-footer">
    <div id="related-links">
      <div class="related-link">
        <a id="link-rss" class="link-related-icon" href="#" title="Subscribe us!">Scribe our RSS feed</a>
      </div>
      <div class="related-link">
        <a id="link-facebook" class="link-related-icon" href="#" title="Facebook">Check out our faceback fans page</a>
      </div>
      <div class="related-link">
        <a id="link-twitter" class="link-related-icon" href="#" title="Twitter">Follow us on Twitter!</a>
      </div>
      <p id="copy-rights">Copyright 2011</p>
      <a id="link-home" class="link-related" href="#" class="links-site-content" title="Home">Home</a>
      <a id="link-blog" class="link-related" href="#" class="links-site-content" title="Blog">Blog</a>
      <a id="link-404" class="link-related" href="#" class="links-site-content" title="404">404</a>
      <a id="link-sitemap" class="link-related" href="#" class="links-site-content" title="Sitemap">Sitemap</a>
      <a id="link-contact" class="link-related" href="#" class="links-site-content" title="Contact">Contact</a>
      <a id="link-theme-designer" class="link-related" href="#" title="Themes designed by lulianN">Wordpress Theme by lulianN</a>
    </div>
  </div>
</div>
